---
import Layout from '@/layouts/Layout.astro';
import { CardsOption } from "@/config/distribucionHabitacion";
---

<Layout title='Distribución por Habitación' >
    <main>
		<div class="mt-6" >
			<div class="flex flex-col gap-6">
				{CardsOption.map((option) => (
					<div >
						<div
							class={` relative 
				  flex items-center bg-white shadow-lg p-3 rounded-md borde 
				  dark:bg-gray-800 
				   dark:a
				   px-4 py-2 text-center text-sm font-semibold
					text-gray-700 dark:text-gray-100 outline-none
					  focus-visible:ring
					   md:px-8 md:py-3 md:text-base mb-4
				  `}
						>
							<h2> {option.categori} </h2>
						</div>
						<div>
							<div class="flex flex-wrap mb-4 gap-3 justify-center sm:justify-start">
								{option.members.map((member) => (
									<div
										
										class="bg-white rounded-2xl shadow-lg relative border-gray-200 dark:bg-gray-800 dark:border-gray-700 container justify-between text-center w-48 md:w-48 pb-6 mx-auto sm:mx-0
												hover:shadow-xl 
												 hover:scale-105 transition-all duration-200 ease-in-out
											"
									>
										<div class="transform h-44 w-full overflow-hidden mb-3 rounded-t-2xl">
											<img
												src={member.imageUrl}
												alt={member.name}
												loading="lazy"
												class="object-cover w-full h-full"
											/>
										</div>
										<span class="dark:text-white text-gray-800 text-sm font-semibold mb-2 block">
											{member.name}
										</span>
										<span class="dark:text-white text-gray-800 text-sm font-semibold mb-2 block">
											{member.apodo}
										</span>
									</div>
								))}
							</div>
						</div>
					</div>
				))}
			</div>
		</div>
    </main> 
</Layout>


<style>
	main {
		flex: 1;
		height: 100%;
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: flex-start;
        gap: 1rem;
        overflow-y: auto;
	}

</style>
