---
interface Props {
    title: string;
    description: string;
    image: string;
    link: string;
    active?: string;
    background?: string;
}

const { title, description, image, link, active, background } = Astro.props;
---

<div
    class="hidden duration-700 ease-in-out bg-black"
    data-carousel-item
>
    <div
        class="absolute w-full h-full grid grid-flow-col place-content-center gap-4 z-20 text-white"
    >
        <div
            class="max-w-screen-xl grid-rows-1 grid grid-flow-col place-content-center grid-cols-2 gap-24"
        >
            <div
                class="flex flex-col justify-center items-center space-y-4 h-full w-full"
            >
                <div class="flex flex-col w-full space-y-4">
                    <h2
                        class="text-4xl font-bold text-white"
                        data-carousel-title
                    >
                        {title}
                    </h2>
                    <p class="text-lg text-white" data-carousel-description>
                        {description}
                    </p>
                </div>
                <a href={link}>
                    <button
                        class="px-4 py-2 bg-[#26c4bc] rounded-full text-black hover:bg-[#34aca6] transition dark:bg-[#1f5e5a] dark:text-white dark:hover:bg-[#1c4d49]"
                    >
                        Ver mas
                    </button>
                </a>
            </div>

            <div
                class="flex flex-col justify-center items-center space-y-4 text-center h-full w-full"
            >
                <img
                    class="rounded-xl shadow-lg"
                    src={image}
                    alt=""
                />
            </div>
        </div>
    </div>

    <img
        src={background}
        class="w-full h-full object-cover opacity-30 z-10"
        alt="..."
    />
</div>
